body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.content{
    background-image: url("pexels-soumil-kumar-735911.jpg");
    background-color: #cccccc;
    height: 47.1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    text-align: center;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .navlink{
    margin-bottom: 10px;
    text-decoration: none;
  }

  .navactive{
    border-bottom: 2px solid #0097e6;
  }

  .navlink:hover{
    border-bottom: 2px solid #0097e6;
  }

  .nav-act{
    margin-bottom: 10px;
    border-bottom: 2px solid #0097e6;
  }

.contact-box{
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: rgba(11, 15, 20, 0.441);
}

.work-content{
  position: absolute;
  top: 30%;
  left: 30%;
}

.work-link{
  transition: transform 1s;
}

.work-link:hover{
  transform: scale(1.1,1.1);
}